In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([5, np.nan, 6, np.nan], index=list('ABCD'))
s2 = pd.Series(np.arange(4), index=list('ABCD'))
print(s1)
print(s2)

A    5.0
B    NaN
C    6.0
D    NaN
dtype: float64
A    0
B    1
C    2
D    3
dtype: int32

In [3]:
s3 = pd.Series(np.where(pd.isnull(s1), s2, s1), index=s1.index)     #combining
s3

A    5.0
B    1.0
C    6.0
D    3.0
dtype: float64

In [4]:
s4 = s1.combine_first(s2)     #same as above, replaces null values in s1 with that present in s2 at the same position, checks column wise
s4

A    5.0
B    1.0
C    6.0
D    3.0
dtype: float64

In [10]:
df1 = pd.DataFrame({
    'col1' : [5, np.nan, 15],
    'col2' : [20, 25, np.nan],
    'col3' : [np.nan, np.nan, 25]
})

df2 = pd.DataFrame({
    'col1' : [10, 20, 30],
    'col2' : [30, 40, 50]
})

print(df1)
print(df2)

   col1  col2  col3
0   5.0  20.0   NaN
1   NaN  25.0   NaN
2  15.0   NaN  25.0
   col1  col2
0    10    30
1    20    40
2    30    50

In [11]:
df3 = df1.combine_first(df2)
df3

   col1  col2  col3
0   5.0  20.0   NaN
1  20.0  25.0   NaN
2  15.0  50.0  25.0