In [1]:
#the process of assigning value to a new column in a dataframe based on an existing column

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
{
    'country' : ['USA','China','Japan','Germany','India'],
    'GDP' : [19,12,4,3,2]
}
)

df

   country  GDP
0      USA   19
1    China   12
2    Japan    4
3  Germany    3
4    India    2

In [4]:
population_map = {
    'USA' : 325,
    'China' : 1421,
    'Japan' : 127,
    'Germany' : 82,
    'India' : 1338
}

population_map

{'USA': 325, 'China': 1421, 'Japan': 127, 'Germany': 82, 'India': 1338}

In [5]:
df['population'] = df['country'].map(population_map)
df

   country  GDP  population
0      USA   19         325
1    China   12        1421
2    Japan    4         127
3  Germany    3          82
4    India    2        1338