In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(6).reshape(3,2), index=['AUDI','MERCEDEZ','TOYOTA'], columns=['PERFORMANCE','SAFETY'])
df

          PERFORMANCE  SAFETY
AUDI                0       1
MERCEDEZ            2       3
TOYOTA              4       5

In [9]:
df.index = df.index.map(str.lower)
df

          PERFORMANCE  SAFETY
audi                0       1
mercedez            2       3
toyota              4       5

In [5]:
df.rename(index=str.title, columns=str.lower)

          performance  safety
Audi                0       1
Mercedez            2       3
Toyota              4       5

In [13]:
df

          PERFORMANCE  SAFETY
audi                0       1
mercedez            2       3
toyota              4       5

In [12]:
df.rename(index={'audi' : 'The best car'}, columns={'SAFETY' : 'SAFETY_TEST'})

              PERFORMANCE  SAFETY_TEST
The best car            0            1
mercedez                2            3
toyota                  4            5