In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(np.arange(8).reshape(2,4),
                  index=pd.Index(['America','China'],name="countries"), 
                  columns=pd.Index(list('ABCD'),name="attributes"))
df

attributes  A  B  C  D
countries
America     0  1  2  3
China       4  5  6  7

In [8]:
stackdf = df.stack()
print(stackdf)

countries  attributes
America    A             0
           B             1
           C             2
           D             3
China      A             4
           B             5
           C             6
           D             7
dtype: int32

In [9]:
unstackdf = stackdf.unstack()
print(unstackdf)

attributes  A  B  C  D
countries
America     0  1  2  3
China       4  5  6  7

In [10]:
df2 = stackdf.unstack("countries")         #along index, inverted index and columns are obtained
print(df2)

countries   America  China
attributes
A                 0      4
B                 1      5
C                 2      6
D                 3      7

In [11]:
df3 = stackdf.unstack("attributes")         #along column, same as df is obtained
print(df3)

attributes  A  B  C  D
countries
America     0  1  2  3
China       4  5  6  7

In [12]:
s1 = pd.Series([5,10,15], index=list('ABC'))
s2 = pd.Series([20,25,30], index=list('BCD'))
print(s1)
print(s2)

A     5
B    10
C    15
dtype: int64
B    20
C    25
D    30
dtype: int64

In [13]:
s3 = pd.concat([s1,s2], keys=['k1','k2'])
s3

k1  A     5
    B    10
    C    15
k2  B    20
    C    25
    D    30
dtype: int64

In [14]:
df_series = s3.unstack()
df_series

      A     B     C     D
k1  5.0  10.0  15.0   NaN
k2  NaN  20.0  25.0  30.0

In [15]:
df_series.stack()

k1  A     5.0
    B    10.0
    C    15.0
k2  B    20.0
    C    25.0
    D    30.0
dtype: float64

In [16]:
df_series.stack(dropna=False)

k1  A     5.0
    B    10.0
    C    15.0
    D     NaN
k2  A     NaN
    B    20.0
    C    25.0
    D    30.0
dtype: float64