In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
s1

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
s1 = s1.reindex(['a','b','c','d','e','f'])     # this is used to basically modify index
s1

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [4]:
s1 = s1.reindex(['a','b','c','d','e','f','g'], fill_value=100)
s1     # this happened because fill_value() will fill only those nan values which are created in the same code, not the previously defined nan values

a      1.0
b      2.0
c      3.0
d      4.0
e      NaN
f      NaN
g    100.0
dtype: float64

In [5]:
cars = pd.Series(['Audi','Mercedes','BMW'], index=[0,4,8])
cars

0        Audi
4    Mercedes
8         BMW
dtype: object

In [6]:
new_index = range(12)
cars = cars.reindex(new_index, method='ffill')  # this is forward fill method
cars

0         Audi
1         Audi
2         Audi
3         Audi
4     Mercedes
5     Mercedes
6     Mercedes
7     Mercedes
8          BMW
9          BMW
10         BMW
11         BMW
dtype: object

In [7]:
df1 = pd.DataFrame(np.random.randn(25).reshape(5,5), index=['a','b','c','d','e'], columns=['c1','c2','c3','c4','c5'])
df1

         c1        c2        c3        c4        c5
a -0.113224  0.388753  0.566472 -0.515795  0.255421
b  0.783755  0.637304 -1.336313 -0.882078  0.616280
c -0.189673 -0.082123  0.335821  0.586044  0.392313
d -0.724489  0.464182  0.050825 -0.005375 -0.105408
e -0.828897  0.081660  0.428146  0.910627 -0.682639

In [8]:
df1 = df1.reindex(index=['a','b','c','d','e','f'], columns=['c1','c2','c3','c4','c5','c6'])
df1

         c1        c2        c3        c4        c5  c6
a -0.113224  0.388753  0.566472 -0.515795  0.255421 NaN
b  0.783755  0.637304 -1.336313 -0.882078  0.616280 NaN
c -0.189673 -0.082123  0.335821  0.586044  0.392313 NaN
d -0.724489  0.464182  0.050825 -0.005375 -0.105408 NaN
e -0.828897  0.081660  0.428146  0.910627 -0.682639 NaN
f       NaN       NaN       NaN       NaN       NaN NaN