In [1]:
import pandas as pd
import numpy as np

In [2]:
series1 = pd.Series([100,200,300], index=['a','b','c'])
series1

a    100
b    200
c    300
dtype: int64

In [3]:
series1['a']

100

In [5]:
series1[['a','b']]     # to access multiple elements

a    100
b    200
dtype: int64

In [7]:
series1[0]   # numerical indexes can also be used

100

In [8]:
series1[series1 > 150]

b    200
c    300
dtype: int64

In [10]:
series1[series1 == 200]

b    200
dtype: int64

In [11]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), index=['car','bike','cycle'], columns=['c1','c2','c3'])
df1

       c1  c2  c3
car     0   1   2
bike    3   4   5
cycle   6   7   8

In [22]:
df1[['c1']]

       c1
car     0
bike    3
cycle   6

In [17]:
df1[['c1','c3']]

       c1  c3
car     0   2
bike    3   5
cycle   6   8

In [19]:
df1 > 5

          c1     c2     c3
car    False  False  False
bike   False  False  False
cycle   True   True   True

In [20]:
df1.loc['car']

c1    0
c2    1
c3    2
Name: car, dtype: int32

In [21]:
df1.loc[:, 'c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int32

In [23]:
df1.loc['bike', 'c1']

3